/* FONTS */
/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 874px;
}

.card {
  width: 874px;
  height: 206px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
  /*card education & experience*/
  /*card single work*/
  /* card info experience & education*/
  /*card title single work*/
  /*card text education & experience*/
  /*card text single work*/
  /*card tag single work*/
}
.card--e {
  height: 161px;
}
.card--sw {
  height: 158px;
  border: none;
}
.card__img {
  width: 246px;
  height: 180px;
  margin: 11px 0px 15px 0px;
  background: url(image.png);
  border-radius: 6px;
}
.card__info {
  margin: 11px 0px 15px 18px;
}
.card--info-e {
  margin: 0px;
}
.card__title {
  font: normal 700 28px "Montserrat", sans-serif;
  line-height: 130%;
  margin: 0px 0px 16px 0px;
  display: flex;
  align-items: center;
  color: #21243D;
  text-decoration: none;
}
.card__title a {
  text-decoration: none;
}
.card--title-sw {
  margin-bottom: 20px;
}
.card__text {
  margin: 24px 16px 0px 0px;
  width: 594px;
  font: normal 400 16px "Zilla Slab", serif;
  line-height: 150%;
  color: #21243D;
}
.card--text-e {
  margin: 15px 0px 29px 0px;
  width: 874px;
  height: 43px;
}
.card--text-sw {
  width: 874px;
}
.card__tag {
  width: 374px;
  height: 24px;
  left: 0px;
  top: 3px;
  font: normal 400 18px "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #8695A4;
}
.card--tag-sw {
  width: 332px;
  color: #21243D;
  height: 27px;
}
.card__date {
  font: normal 400 20px "Montserrat", sans-serif;
  line-height: 24px;
  color: #21243D;
  margin-top: 16px 0px 15px 0px;
}

.pill {
  padding: 0px 12.5px;
  width: 67px;
  height: 24px;
  background: #142850;
  border-radius: 50px;
  color: #fff;
  font: normal 800 18px "Heebo", sans-serif;
  margin-right: 20px;
}

.navbar {
  position: absolute;
  width: 1320px;
  height: 24px;
  left: 60px;
  top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.navbar__logo {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font: normal 900 22px "Montserrat", sans-serif;
  line-height: 26.82px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar span {
  font-weight: 900;
}
.navbar__span-period {
  color: #FF6464;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  width: 164px;
  height: 24px;
  left: 1168px;
  list-style: none;
}
.navbar__link {
  display: inline-block;
  text-transform: capitalize;
  width: 80px;
  height: 24px;
  font: normal 500 20px "Zilla Slab", serif;
  line-height: 24px;
  color: #21243D;
  text-decoration: none;
}
.navbar__link--about, .navbar__link--works {
  color: #FF6464;
}

.hero {
  width: 1095px;
  height: 322px;
  margin: 169px 0px 0px 172px;
  display: flex;
  flex-direction: row;
}
.hero__text-box {
  width: 538px;
  height: 283px;
  margin-top: 18px;
}
.hero__title {
  font: normal 800 44px "Montserrat", sans-serif;
  line-height: 57.2px;
}
.hero__description {
  font: normal 400 16px "Zilla Slab", serif;
  margin: 40px 0px 32px 0px;
}
.hero__image {
  width: 415.96px;
  height: 280.24px;
  margin-left: 132px;
  filter: drop-shadow(9.76px 9.76px #EBEBEB);
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 201px;
  height: 44px;
  border: 1px solid #21243D;
  font: normal 500 20px "Zilla Slab", serif;
  line-height: 24px;
  text-decoration: none;
  color: #21243D;
}
.button:hover {
  background-color: #FF6464;
  color: #fff;
  border: none;
}

.skills-section {
  width: 1440px;
  height: 458px;
  margin-top: 80px;
  background: #121212;
}
.skills-section__title {
  width: 335px;
  height: 27px;
  font: normal 700 30px "Montserrat", sans-serif;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0px 0px 36px 552px;
  padding-top: 40px;
}
.skills-section__cards {
  width: 1140px;
  height: 295px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 172px;
}

.box {
  width: 335px;
  height: 295px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
.box__title {
  width: 291px;
  height: 27px;
  font: normal 800 22px "Montserrat", sans-serif;
  line-height: 27px;
  color: #21243D;
  margin: 24px 0px 0px 24px;
}
.box__inner-container, .box__inner-container--middle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 271px;
  height: 199.52px;
  margin: 24px 0px 0px 24px;
  font: normal 400 20px "Zilla Slab", serif;
  line-height: 24px;
  color: #21243D;
}
.box__list-of-skills {
  width: 271px;
  height: 27px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}
.box__list-of-skills--logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.box__dot-group {
  width: 102px;
  padding: 6.5px 0px;
  margin-left: 20px;
  line-height: 14px;
}
.box__list-of-skills--name {
  width: 117px;
}
.box__inner-container--middle {
  height: 242.52px;
  margin: 25px 32px 27.48px 32px;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #142850;
}
.dot--grey {
  background: #142850;
  opacity: 0.25;
}

.work-section {
  width: 874px;
  margin: 80px 0px 0px 283px;
}
.work-section--two {
  margin-left: 283px;
}
.work-section__title {
  width: 176px;
  height: 27px;
  margin: 3px 0px 41px 2px;
  font: normal 400 22px "Montserrat", sans-serif;
  line-height: 27px;
  color: #21243D;
}
.work-section__title--two {
  width: 858px;
  height: 43px;
  font: normal 800 44px "Montserrat", sans-serif;
  line-height: 57px;
  margin: 120px 0px 60px 0px;
}

.breadcrumb {
  width: 220px;
  height: 19px;
  margin: 134px 0px 0px 283px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.breadcrumb__item {
  font: normal 400 14px "Zilla Slab", serif;
}
.breadcrumb__item--link {
  font: normal 600 14px "Zilla Slab", serif;
  text-decoration: none;
}
.breadcrumb__item__icon {
  width: 16px;
  height: 16px;
}

/*****************************************/
.single-work__header {
  width: 874px;
  height: 158px;
  margin: 16px 0px 87px 283px;
}

.single-work {
  width: 874px;
  margin: 60px 0px 0px 283px;
  display: flex;
  flex-direction: column;
}
.single-work__img {
  width: 874px;
  height: 460px;
}
.single-work__img--margin {
  margin-top: 32px;
}
.single-work__h2 {
  width: 677px;
  height: 45px;
  font: normal 700 34px "Montserrat", sans-serif;
  line-height: 41px;
  color: #21243D;
  margin-top: 40px;
}
.single-work__h3 {
  margin-top: 16px;
  width: 677px;
  height: 29px;
  font: normal 700 30px "Montserrat", sans-serif;
  line-height: 37px;
  color: #21243D;
}
.single-work__text {
  width: 874px;
  height: 48px;
  margin: 24px 0px 32px 0px;
  font: normal 400 16 "Zilla Slab", serif;
  line-height: 150%;
  color: #000;
}

.footer {
  width: 1440px;
  height: 182px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.footer__social {
  width: 240px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 51px 0px 0px 600px;
}
.footer__social-icon {
  font-size: 30px;
  color: #21243D;
}
.footer__contact {
  width: 277.55px;
  height: 27px;
  font: normal 400 18px "Montserrat", sans-serif;
  line-height: 150%;
  text-align: center;
  color: #21243D;
  margin: 26px 0px 48px 581px;
}

.about {
  width: 874px;
  height: 143px;
  margin: 120px 0px 0px 283px;
}
.about__title {
  width: 874px;
  height: 45px;
  font: normal 800 44px "Montserrat", sans-serif;
  line-height: 57px;
  color: #21243D;
  margin-bottom: 32px;
}
.about__description {
  width: 873px;
  height: 66px;
  left: 0px;
  margin-top: 32px;
  font: normal 400 16px "Zilla Slab", serif;
  line-height: 24px;
  color: #21243D;
}

.experience, .education {
  width: 874px;
  margin: 60px 0px 0px 283px;
  margin-left: 283px;
  margin-top: 60px;
}
.experience__title, .education__title {
  width: 155px;
  height: 27px;
  margin: 0px 0px 32px 1px;
  font: normal 400 22px "Montserrat", sans-serif;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FF6464;
}

/*# sourceMappingURL=styles.css.map */
