.about {
    width: 874px;
    height: 143px;
    margin: 120px 0px 0px 283px;

    &__title {
        width: 874px;
        height: 45px;
        font: normal 800 44px $Montserrat;
        line-height: 57px;
        color: $darkColor;
        margin-bottom: 32px;
    }

    &__description {
        width: 873px;
        height: 66px;
        left: 0px;
        margin-top: 32px;
        font: normal 400 16px $Zilla;
        line-height: 24px;
        color: $darkColor;
    }
}


.experience, .education {
    width: 874px;
    margin: 60px 0px 0px 283px;
    margin-left: 283px;
    margin-top: 60px;

    &__title { 
        width: 155px;
        height: 27px;
        margin: 0px 0px 32px 1px;
        font: normal 400 22px $Montserrat;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: $actionColor;
    }
}

