.work-section {
    width: 874px;
    margin: 80px 0px 0px 283px;

    &--two {
        margin-left: 283px;
    }

    &__title {
        width: 176px;
        height: 27px;
        margin: 3px 0px 41px 2px;
        font: normal 400 22px $Montserrat;
        line-height: 27px;
        color: $darkColor;
    }

    &__title--two {
        width: 858px;
        height: 43px;
        font: normal 800 44px $Montserrat;
        line-height: 57px;
        margin: 120px 0px 60px 0px;
    }
}